<!DOCTYPE html>
<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="./game-cell.html">

<dom-module id="game-grid">
    <template>
        <style>
             :host {
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                justify-content: flex-start;
                align-content: flex-start;
                box-sizing: border-box;
                background: var(--grid-cell-background);
                border: 4px inset var(--grid-cell-border-color);
            }
        </style>
        <game-cell state="unknown"></game-cell>
        <game-cell state="empty" revealed></game-cell>
        <game-cell state="bomb"></game-cell>
        <game-cell state="bomb" revealed></game-cell>
        <game-cell state="bomb" revealed miss></game-cell>
        <game-cell state="bomb" exploded revealed></game-cell>
        <game-cell state="flag"></game-cell>
        <game-cell state="1"></game-cell>
        <game-cell state="2"></game-cell>
        <game-cell state="3"></game-cell>
        <game-cell state="4"></game-cell>
        <game-cell state="5"></game-cell>
        <game-cell state="6"></game-cell>
        <game-cell state="7"></game-cell>
        <game-cell state="8"></game-cell>
        <game-cell state="unknown"></game-cell>
        <game-cell state="bomb"></game-cell>
        <game-cell state="bomb" revealed></game-cell>
        <game-cell state="bomb" revealed miss></game-cell>
        <game-cell state="bomb" exploded revealed></game-cell>
        <game-cell state="flag"></game-cell>
        <game-cell state="1"></game-cell>
        <game-cell state="2"></game-cell>
        <game-cell state="3"></game-cell>
        <game-cell state="4"></game-cell>
        <game-cell state="5"></game-cell>
        <game-cell state="6"></game-cell>
        <game-cell state="7"></game-cell>
        <game-cell state="8"></game-cell>
        <game-cell state="unknown"></game-cell>
    </template>

    <script>
        /**
         * @customElement
         * @polymer
         */
        class GameGrid extends Polymer.Element {
            static get is() {
                return 'game-grid';
            }

        }

        window.customElements.define(GameGrid.is, GameGrid);
    </script>
</dom-module>
