<!DOCTYPE html>
<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="./game-counter.html">
<link rel="import" href="./game-status.html">

<dom-module id="game-header">
    <template>
        <style>
            :host {
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: space-between;
                box-sizing: border-box;
                background: var(--grid-cell-background, hsl(0,0%,75%));
                border: var(--game-inner-border-size, 4px) outset var(--grid-cell-border-color, hsl(0,0%,90%));
                padding: calc(var(--game-inner-border-size, 4px) * 2);
            }
        </style>
        <game-counter id="size" counter="9"></game-counter>
        <game-status id="status" status="ongoing" on-status-click="handleStatusClick"></game-status>
        <game-counter id="timer" counter="0"></game-counter>
    </template>

    <script>
        /**
         * @customElement
         * @polymer
         */
        class GameHeader extends Polymer.Element {
            static get is() {
                return 'game-header';
            }

            /**
            * handle status click
            */
            handleStatusClick(event) {
                // console.log(event.type);
            }

        }

        window.customElements.define(GameHeader.is, GameHeader);

    </script>
</dom-module>
